.contactUSbannertitle {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
}

.contactUSBannerInfoTitle {
    font-family: "Montserrat";
    /* font-weight: bold; */
    font-style: normal;
}

.popins-contact {
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.contactUSBannerFormButton{
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

#contactUSBanner::before{
  content: "";
  position: absolute;
  background: url('../assets/contactUSBannerBG.png') no-repeat;
  width: 100%;
  height: 95vh;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 700px) {
  #contactUSBanner::before {
    background: url('../assets/contactUSBannerBG.png') no-repeat center top;
    background-size: cover; 
    /* width: 100%;      keeps full image visible */
    height: 45vh;                   /* smaller height for mobile */
  }
}