#footer {
  position: relative;
  overflow: hidden;
}

#footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/footerBG.jpeg") center/cover no-repeat;
  z-index: -2;
}

#footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* adjust this value */
  z-index: -1;
}
