.popins {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.popins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.popins-noweight {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.aboutCom {
  font-family: "Montserrat";
  /* font-weight: bold; */
  font-style: normal;
}

.fontMon {
  font-family: "Montserrat";
  font-style: normal;
}

#infrastructure {
  position: relative;
  /* ✅ anchor the pseudo-element */
  z-index: 1;
  /* keep this above the background */
}

#landingBanner::before {
  content: "";
  position: absolute;
  background: url('../assets/landingBannerIMG.jpeg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 88vh;
  z-index: -1;
}

@media (max-width: 700px) {
  #landingBanner::before {
    background: url('../assets/landingBannerIMG.jpeg') no-repeat center top;
    background-size: cover;       /* keeps full image visible */
    height: 45vh;                   /* smaller height for mobile */
  }
}

#infrastructure::before {
  content: "";
  position: absolute;
  inset: 0;
  /* fills the parent fully */
  background: url("../assets/infraBG.png") center/cover no-repeat;
  z-index: -1;
  /* behind text, but inside #infrastructure */
  opacity: 1;
  /* optional - adjust if you want a fade effect */
  border-radius: 15px;
}

@media (max-width: 700px) {
  #infrastructure::before {
    background: url('../assets/infraBG.png') no-repeat center top;
    background-size: cover;       /* keeps full image visible */
    height: 30vh;                   /* smaller height for mobile */
  }
}

#landing-contact::before {
  content: "";
  position: absolute;
  /* inset: 0; */
  background: url('../assets/landingContactUSBG.png');
  width:78vw;
  height: 37vh;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 700px) {
  #landing-contact::before {
    background: url('../assets/landingContactUSBG.png') no-repeat center top;
    background-size: cover;       /* keeps full image visible */
    height: 15vh;     
    width: 95vw;              /* smaller height for mobile */
  }
}


@keyframes fleetScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}

.animate-fleet-scroll {
  display: flex;
  width: 200%;
  /* doubled because we duplicated images */
  animation: fleetScroll 30s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* move full width, not just half */
  }
}

.animate-scroll {
  display: flex;
  width: fit-content;
  animation: scroll 15s linear infinite;
}